<div class="container col-8">
  <form [formGroup]="form" (ngSubmit)="createAd()" >
    <h3>Создание объявления</h3>

    <div class="form-group">
      <label for="adType">Тип объявления:</label>
      <select class="form-control" formControlName="adType" id="adType" required>
        <option disabled selected>Тип</option>
        <option value="BUY">Куплю</option>
        <option value="SELL">Продам</option>
      </select>
    </div>
<!--    <div class="form-group">-->
<!--      <input type="file" name="photo" (change)="addPhoto($event)"/>-->
<!--    </div>-->
    <div class="form-group">
      <label >Название</label>
      <input type="text" formControlName="name" minlength="4" class="form-control" placeholder="" required/>
    </div>
    <div class="form-group">
      <label >Описание</label>
      <textarea type="text" formControlName="description" minlength="5" class="form-control" required ></textarea>
    </div>
    <div class="form-group">
      <label >Адресс:</label>
      <input type="text" formControlName="address" minlength="5" class="form-control" placeholder="" required/>
    </div>
    <div class="form-group">
      <label >Цена</label>
      <input type="number" min="0" max="100000" formControlName="cost" class="form-control"
             placeholder="" required/>
    </div>
    <div class="form-group">
      <label >URL фотографии</label>
      <input type="url" formControlName="photo" class="form-control" placeholder=""
             required/>
    </div>
    <div class="form-group">
      <label >Категория:</label>
      <select class="form-control" formControlName="adCategory" id="category" required>
        <option disabled selected>Категория</option>
        <option value="PERSONALS">Персональные вещи</option>
        <option value="TRANSPORT">Транспорт</option>
        <option value="PROPERTY">Недвижимость</option>
      </select>
    </div>
    <div class="mx-auto">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Создать</button>
    </div>
  </form>


</div>
