<div class="container ">
  <div *ngIf="adsService.ad.length">
    <table id="table" class="table text-white mt-4">
      <thead>
      <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Создатель</th>
        <th>Статус</th>
        <th>Цена</th>
        <th>Действие</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let ad of adsService.ad">
        <td scope="row">{{ad.id}}</td>
        <td routerLink="/ad/{{ad.id}}">{{ad.name.slice(0,32)}}</td>
        <td>{{ad.username}}</td>
        <td class="">{{ad.adStatus}}</td>
        <td>{{ad.cost}}</td>
        <td>
          <button class="btn btn-danger" type="button" (click)="delete(ad.id)" >Удалить</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
