<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mr-4 " href="#"><label>ALITO</label><label class="bg-white text-dark m-1 rounded">64</label></a>


  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class="navbar-nav w-100">
      <li *ngIf="! isAuthenticated"class="nav-item">
        <a class="nav-link text-primary" routerLink="/registration">Регистрация </a>
      </li>

      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link text-warning" routerLink="/create">Создать объявление</a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a class="nav-link text-primary" routerLink="/login">Войти</a>
      </li>

      <li *ngIf="isAuthenticated" class="btn-group ml-auto mr-5">
        <button type="button" class="btn btn-warning float-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.user.username}}
        </button>

        <div class="dropdown-menu ">
          <a class="dropdown-item" routerLink="/user/{{authService.user.username}}">Профиль</a>
          <a *ngIf="authService.user.role=='ADMIN'" class="dropdown-item" routerLink="/admin">Админ панель</a>
          <a class="dropdown-item" routerLink="/user/{{authService.user.username}}/ads">Мои объявления</a>
          <a class="dropdown-item" routerLink="/user/response">Отклики</a>
          <button class="dropdown-item btn btn-primary" (click)="logout()">Выйти</button>
        </div>
      </li>

    </ul>
    <!---
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
      <button class="btn btn-dark btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
    </form>
    -->
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

