<div class="container mx-auto">
  <h3 class="mx-auto">Регистрация</h3>
  <form [formGroup]="formRegistration" (ngSubmit)="registration()">
    <div class="row">
      <div *ngIf="errorFlag" class="alert alert-danger" role="alert">
        [({{errorMessage}})]
      </div>
      <div class="form-group col-4">
        <label for="username">Логин: </label>
        <input type="text" formControlName="username" class="form-control" id="username"
               placeholder='' minlength="5" maxlength="16" required/>
        <small>От 5 до 16 символов</small>
      </div>
      <div class="form-group col-4">
        <label for="email">Почта: </label>
        <input type="email" formControlName="email" class="form-control" id="email"
               placeholder='' email required/>
      </div>
    </div>

    <div class="row form-group">
      <div class="form-group col-4">
        <label for="password">Пароль: </label>
        <input type="password" formControlName="password" class="form-control" id="password"
               placeholder='' minlength="5" maxlength="16" required/>
        <small>От 5 до 16 символов</small>
      </div>
      <div class="form-group col-4">
        <label for="passwordConfirmation">Повторите пароль: </label>
        <input type="password" formControlName="passwordConfirmation" class="form-control" id="passwordConfirmation"
               placeholder='' minlength="5" maxlength="16" required/>
        <small>От 5 до 16 символов</small>
      </div>
    </div>
    <label class="">Личные данные</label>
    <div class="row">
      <div class="col-7">
        <div class="form-group">
          <label for="avatar">URL фотографии профиля: </label>
          <input type="text" formControlName="avatar" class="form-control" id="avatar"
                 placeholder='' minlength="1" required=""/>

        </div>
        <div class="form-group">
          <label for="firstName">Имя: </label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName"
                 placeholder='' minlength="2" maxlength="48" required/>
          <small>От 2 до 48 символов</small>
        </div>
        <div class="form-group">
          <label for="secondName">Фамилия: </label>
          <input type="text" formControlName="secondName" class="form-control" id="secondName"
                 placeholder='' minlength="2" maxlength="48" required/>
          <small>От 2 до 48 символов</small>
        </div>
        <div class="form-group">
          <label for="patronymic">Отчество: </label>
          <input type="text" formControlName="patronymic" class="form-control" id="patronymic"
                 placeholder='' minlength="2" maxlength="48" required/>
          <small>От 2 до 48 символов</small>
        </div>
        <div class="form-group">
          <label for="patronymic">Телефон: </label>
          <input type="text" formControlName="phone" class="form-control" id="phone"
                 placeholder='' required/>
        </div>

        <div class="form-group">
          <label for="birthday">Дата рождения: </label>
          <input type="date" formControlName="birthday" class="form-control" id="birthday"
                 placeholder=''  required/>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg m-auto" [disabled]="formRegistration.invalid">Регистрация</button>
    <a routerLink="/"> На главную</a>
  </form>
</div>
